@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

.tac {
	text-align: center !important;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #efefef;
	color: #333;
	font-family: 16px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a,
a:visited {
	color: inherit;
}

img,
video {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

input,
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	padding: 8px;
}

input:focus,
textarea:focus {
	border: 1px solid transparent;
	box-shadow: none;
	outline: none;
}

input[type="submit"] {
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	border: none;
	outline: none;
}

input[type="submit"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
}

input[type="radio"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid transparent;
	border-radius: 50%;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

input[type="radio"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="radio"] + span:focus,
input[type="radio"] + span:checked {
	background: #333;
	border: 1px solid #fff;
	box-shadow: none;
	outline: none;
}

input[type="radio"]:checked + span::after {
	-webkit-transform: translateY(-50%);
	background: #333;
	border-radius: 50%;
	content: "";
	display: block;
	height: 0.6em;
	left: 0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0.6em;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
	transition: all 0.3s ease 0s;
}

input[type="checkbox"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid transparent;
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

input[type="checkbox"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 3px solid #333;
	border-left: 3px solid #333;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 1em;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	color: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 8px 24px 8px 8px;
	width: 100%;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border: 1px solid transparent;
	box-shadow: none;
	outline: none;
}

.inner {
	margin: 0 auto;
	max-width: 100%;
	padding: 80px 0;
}

.sp-only {
	display: none;
}

.sp-hidden {
	display: block;
}

.pc-only {
	display: none;
}

.pc-hidden {
	display: block;
}

/* 左寄せ */

.drawer {
	display: none;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 40;
}

#drawer-check {
	display: none;
}

.drawer-open {
	background: #efa336;
	cursor: pointer;
	display: inline-block;
	height: 60px;
	position: relative;
	transition: 0.5s ease-in-out;
	vertical-align: middle;
	width: 60px;
	z-index: 41;
}

.drawer-open span {
	background: #fff;
	border-radius: 3px;
	display: block;
	height: 4px;
	left: 50%;
	margin: -2px 0 0 -14px;
	position: absolute;
	top: 50%;
	transition: 0.5s ease-in-out;
	width: 28px;
}

.drawer-open span::before,
.drawer-open span::after {
	-webkit-transform: rotate(0);
	background: #fff;
	border-radius: 3px;
	content: "";
	cursor: pointer;
	display: block;
	height: 100%;
	left: 50%;
	margin: -2px 0 0 -50%;
	position: absolute;
	top: 50%;
	transform: rotate(0);
	transition: 0.5s ease-in-out;
	width: 100%;
}

.drawer-open span::before {
	-webkit-transform: rotate(0);
	margin-top: -10px;
	transform: rotate(0);
}

.drawer-open span::after {
	-webkit-transform: rotate(0);
	margin-top: 6px;
	transform: rotate(0);
}

.drawer-close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: 0.3s ease-in-out;
	width: 100%;
	z-index: 39;
}

.drawer-content {
	-webkit-transform: translateX(-105%);
	background: #fff;
	height: 100%;
	left: 0;
	max-width: 90%;
	overflow: auto;
	padding-top: 62px;
	position: fixed;
	top: 0;
	transform: translateX(-105%);
	transition: 0.5s ease-in-out;
	width: 250px;
	z-index: 40;
}

.drawer-content .drawer-title {
	font-size: 1em;
	font-weight: 700;
	padding: 0 34px;
	text-align: center;
}

#drawer-check:checked .drawer-head {
	color: #efa336;
	font-size: 1.2em;
	font-weight: 700;
	line-height: 60px;
	text-align: center;
}

#drawer-check:checked ~ .drawer-open span {
	background: rgba(255, 255, 255, 0);
}

#drawer-check:checked ~ .drawer-open span::before,
#drawer-check:checked ~ .drawer-open span::after {
	background: #fff;
	border-radius: 3px;
	content: "";
	display: block;
	height: 4px;
	left: 50%;
	margin: -2px 0 0 -14px;
	position: absolute;
	top: 50%;
	width: 28px;
}

#drawer-check:checked ~ .drawer-open span::before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-close {
	display: block;
	opacity: 0.4;
}

#drawer-check:checked ~ .drawer-content {
	-webkit-transform: translateX(0);
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	transform: translateX(0);
}

.drawer-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.drawer-item a {
	color: #333;
	display: block;
	padding: 1em;
	text-decoration: none;
}

/* 右寄せ */

.drawer.m_right {
	left: auto;
	right: 0;
}

.drawer.m_right .drawer-content {
	-webkit-transform: translateX(105%);
	left: auto;
	right: 0;
	text-align: left;
	transform: translateX(105%);
}

.drawer.m_right #drawer-check:checked ~ .drawer-content {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

#modal-checkbox {
	display: none;
}

.modal-open {
	cursor: pointer;
	display: inline-block;
	position: relative;
}

.modal-close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: all 0.3s ease-in-out 0s;
	width: 100%;
	z-index: 99;
}

.modal-content {
	-webkit-transform: translate(-50%, -50%);
	background: #fff;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.16);
	left: 50%;
	opacity: 0;
	overflow: auto;
	padding: 1em;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in-out 0s;
	z-index: 100;
}

#modal-checkbox:checked ~ .modal-content {
	opacity: 1;
}

#modal-checkbox:checked ~ .modal-close {
	display: block;
	opacity: 0.6;
}

#header .inner {
	display: flex;
	padding-bottom: 0;
	padding-top: 0;
}

.hnav-item {
	display: inline-block;
}

.hnav-item > a {
	color: #333;
	display: block;
	text-decoration: none;
}

@media screen and (min-width: 820px) {

.inner {
	width: 820px;
}

.pc-only {
	display: block;
}

.pc-hidden {
	display: none;
}

}

@media screen and (max-width: 819px) {

.inner {
	padding-left: 24px;
	padding-right: 24px;
}

}

@media screen and (max-width: 767px) {

.inner {
	padding-left: 12px;
	padding-right: 12px;
}

.sp-only {
	display: block;
}

.sp-hidden {
	display: none;
}

.drawer {
	display: block;
}

}

