[data-target] {
	cursor: pointer;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	color: #333;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.6;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	outline: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video {
	height: auto;
	max-width: 100%;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

form {
	margin: 0;
	padding: 0;
}

form button {
	-webkit-appearance: none;
	-webkit-transition: all 0.3s ease 0s;
	background-color: #efa336;
	background-image: none;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: auto;
}

form button:hover,
form button:focus {
	outline: none;
}

form button:hover {
	opacity: 0.6;
}

form button ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input,
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #707070;
	border-radius: 0;
	font-family: inherit;
	font-size: 1.6rem;
	padding: 8px;
	width: 100%;
}

textarea:hover,
textarea:focus {
	outline: none;
}

textarea:focus {
	border-color: #707070;
	box-shadow: none;
	outline: none;
}

textarea ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input:focus {
	border-color: #707070;
	box-shadow: none;
	outline: none;
}

input[type="submit"],
input[type="button"] {
	-webkit-appearance: none;
	-webkit-transition: all 0.3s ease 0s;
	background-color: #efa336;
	background-image: none;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: auto;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
	outline: none;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	opacity: 0.6;
}

input[type="submit"] ::-moz-focus-inner,
input[type="button"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
}

input[type="radio"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #707070;
	border-radius: 50%;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

input[type="radio"] + span::after {
	-webkit-transition: opacity 0.3s ease 0s;
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="radio"]:checked + span::after {
	-webkit-transform: translateY(-50%);
	background: #707070;
	border-radius: 50%;
	content: "";
	display: block;
	height: 10px;
	left: 8px;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + span {
	-webkit-transition: all 1s ease 0s;
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
	transition: all 1s ease 0s;
}

input[type="checkbox"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #707070;
	border-radius: 2px;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

input[type="checkbox"] + span::after {
	-webkit-transition: opacity 0.3s ease 0s;
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 4px solid #efa336;
	border-left: 4px solid #efa336;
	content: "";
	display: block;
	height: 15.6px;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 26px;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url(../img/arrow.svg);
	background-position: right 6px center;
	background-repeat: no-repeat;
	background-size: 24px;
	border: 1px solid #707070;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1.6rem;
	padding: 0.4em 2.4em 0.4em 0.8em;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border-color: #707070;
	box-shadow: none;
	outline: none;
}

.inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	padding: 0;
	width: 1060px;
}

.btn {
	-webkit-appearance: none;
	-webkit-transition: all 0.3s ease 0s;
	background-color: #424242;
	background-image: none;
	border: 2px solid #424242;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	height: 60px;
	letter-spacing: 0.04em;
	line-height: 58px;
	margin: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	width: 300px;
}

.btn:not(:disabled) {
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	outline: none;
}

.btn::-moz-foucus-inner {
	border: none;
	padding: 0;
}

.drawer {
	z-index: 40;
}

.drawer-close {
	-webkit-transition: all 0.3s ease 0s;
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
	z-index: 39;
}

.drawer-close.is-checked {
	display: block;
	opacity: 0.4;
}

.drawer-icon {
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-align: center;
	z-index: 41;
}

.drawer-icon::after {
	color: #424242;
	content: "MENU";
	display: none;
	font-size: 0.8rem;
	font-weight: 700;
	line-height: 1;
	margin-top: 4px;
	text-align: center;
}

.drawer-icon.is-checked::after {
	content: "CLOSE";
}

.drawer-bars {
	display: inline-block;
	height: 19px;
	position: relative;
	vertical-align: bottom;
	width: 25px;
}

.drawer-bar {
	-webkit-transition: all 0.3s linear 0s;
	background: #424242;
	border-radius: 3px;
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	right: 0;
	transition: all 0.3s linear 0s;
	width: 100%;
}

.drawer-bar:nth-of-type(1) {
	top: 0;
}

.drawer-bar:nth-of-type(2) {
	top: 8px;
}

.drawer-bar:nth-of-type(3) {
	top: 16px;
}

.is-checked .drawer-bar:nth-of-type(1) {
	-webkit-transform: rotate(-45deg);
	top: 10px;
	transform: rotate(-45deg);
}

.is-checked .drawer-bar:nth-of-type(2) {
	background: transparent;
}

.is-checked .drawer-bar:nth-of-type(3) {
	-webkit-transform: rotate(45deg);
	top: 10px;
	transform: rotate(45deg);
}

.drawer-content {
	-webkit-transform: translateX(105%);
	-webkit-transition: all 0.5s ease 0s;
	background: #fff;
	bottom: auto;
	color: #424242;
	height: 100%;
	left: auto;
	max-width: 90%;
	overflow: auto;
	padding-top: 60px;
	position: fixed;
	right: 0;
	text-align: left;
	top: 0;
	transform: translateX(105%);
	transition: all 0.5s ease 0s;
	width: 200px;
	z-index: 40;
}

.drawer-content.is-checked {
	-webkit-transform: translateX(0);
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	transform: translateX(0);
}

.drawer-content--left {
	-webkit-transform: translateX(-105%);
	left: 0;
	right: auto;
	transform: translateX(-105%);
}

.drawer-content--top {
	-webkit-transform: translateY(-105%);
	bottom: auto;
	height: 100%;
	max-width: 100%;
	top: 0;
	transform: translateY(-105%);
	width: 100%;
}

.header {
	background: #fff;
	height: 80px;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 20;
}

.header-content {
	-webkit-box-align: center;
	align-items: center;
	display: -webkit-box;
	display: flex;
}

.header-logo {
	margin-right: auto;
}

.header-logo a {
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-logo a:hover {
	opacity: 0.6;
}

.header-logo img {
	width: 200px;
}

.header-nav ul {
	-webkit-box-align: center;
	align-items: center;
	display: -webkit-box;
	display: flex;
}

.header-nav li {
	margin-right: 46px;
}

.header-nav li:last-child {
	margin-right: 0;
}

.header-nav li > a {
	-webkit-transition: all 0.3s ease 0s;
	color: #333;
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.header-nav li > a:hover {
	opacity: 0.6;
}

.header-drawer {
	display: none;
}

@media (min-width: 768px) and (max-width: 1059px) {

.hidden-tab {
	display: none;
}

}

@media (min-width: 1060px) {

.hidden-pc {
	display: none;
}

}

@media (max-width: 1059px) {

.inner {
	padding-left: 24px;
	padding-right: 24px;
}

}

@media (max-width: 767px) {

.inner {
	padding-left: 16px;
	padding-right: 16px;
}

.header-nav {
	display: none;
}

.header-drawer {
	display: block;
}

.hidden-sp {
	display: none;
}

}

