@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

.tac {
	text-align: center !important;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #efefef;
	color: #333;
	font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
}

img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

p {
	margin: 0;
	padding: 0;
}

code,
kbd,
pre,
samp {
	font-family: monospace;
	font-size: 1em;
}

pre code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 1em;
}

ul,
ol {
	margin: 0;
	padding: 0 0 0 20px;
}

table {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0.4em 0.6em;
	text-align: left;
	vertical-align: top;
}

blockquote {
	margin: 0 1em;
}

form {
	margin: 0;
	padding: 0;
}

input,
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #aaa;
	border-radius: 0;
	font-family: inherit;
	font-size: 1em;
	padding: 0.6em 0.8em;
}

input:focus {
	border: 1px solid #e65100;
	box-shadow: 0 0 5px 0 #e65100;
	outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	cursor: pointer;
	outline: none;
}

input[type="submit"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input[type="radio"] {
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	display: inline-block;
	height: 15px;
	margin: 0 8px 0 0;
	vertical-align: middle;
	width: 15px;
}

input[type="radio"]:focus,
input[type="radio"]:checked {
	background: #e65100;
	border: 1px solid #fff;
	box-shadow: 0 0 0 1px #e65100;
	outline: none;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: none;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 2.4em 0.4em 0.8em;
	width: 100%;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: none;
	outline: none;
}

/*
 * <!-- example -->
 * <header>
 *	<div class="inner>
 *	</div>
 * </header>
 */

.inner {
	margin: 0 auto;
	max-width: 100%;
	padding: 80px 0;
}

#header,
#content,
#footer {
	width: 100%;
}

#secondary {
	padding: 0 12px;
}

.row {
	display: flex;
	justify-content: space-between;
}

.row-c {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.sp-only {
	display: none;
}

.sp-hidden {
	display: block;
}

.pc-only {
	display: none;
}

.pc-hidden {
	display: block;
}

/* btn component */

.btn {
	-webkit-appearance: none;
	background-color: #4caf50;
	background-image: none;
	border: none;
	border-radius: 0;
	box-shadow: 0.0625em 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.2);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 0 0 1em;
	padding: 0.6em 2em;
	text-decoration: none;
}

.btn::-moz-foucus-inner {
	border: none;
	padding: 0;
}

.btn:hover,
.btn:focus {
	outline: none;
}

.c-card {
	background: #fff;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
	display: inline-block;
	height: auto;
	margin: 0 0 1.6em;
	max-width: 100%;
	position: relative;
	text-align: left;
	text-decoration: none;
}

.c-card .c-card-img {
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0 0 56.25% 0;
	text-align: center;
	width: 100%;
}

.c-card .c-card-img img {
	height: auto;
	margin: 0;
	max-width: 100%;
	vertical-align: top;
}

.c-card .c-card-body {
	padding: 0.8em;
}

.c-card .c-card-body time {
	color: gray;
	font-size: 0.875em;
}

.c-card .c-card-body .c-card-title {
	color: #333;
	font-size: 1.2em;
	margin: 0.4em 0;
}

.c-card .c-card-body p {
	color: gray;
	font-size: 0.95em;
	margin: 0;
}

.c-card .c-card-cate {
	background: #efa336;
	color: #fff;
	font-size: 0.875em;
	line-height: 1;
	padding: 0.4em 0.8em;
	position: absolute;
	right: 0;
	top: 0;
}

#drawer {
	display: none;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 40;
}

#drawer.drawer-right {
	left: auto;
	right: 0;
}

.drawer-hidden {
	display: none;
}

#drawer-open {
	-webkit-transform: translateX(0);
	background: #efa336;
	cursor: pointer;
	display: inline-block;
	height: 60px;
	position: relative;
	transform: translateX(0);
	transition: 0.5s ease-in-out;
	vertical-align: middle;
	width: 60px;
}

#drawer-open span {
	background: #fff;
	border-radius: 3px;
	display: block;
	height: 4px;
	left: 50%;
	margin: -2px 0 0 -14px;
	position: absolute;
	top: 50%;
	transition: 0.5s ease-in-out;
	width: 28px;
}

#drawer-open span::before,
#drawer-open span::after {
	-webkit-transform: rotate(0);
	background: #fff;
	border-radius: 3px;
	content: "";
	cursor: pointer;
	display: block;
	height: 100%;
	left: 50%;
	margin: -2px 0 0 -50%;
	position: absolute;
	top: 50%;
	transform: rotate(0);
	transition: 0.5s ease-in-out;
	width: 100%;
}

#drawer-open span::before {
	-webkit-transform: rotate(0);
	margin-top: -10px;
	transform: rotate(0);
}

#drawer-open span::after {
	-webkit-transform: rotate(0);
	margin-top: 6px;
	transform: rotate(0);
}

#drawer-close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: 0.3s ease-in-out;
	width: 100%;
	z-index: 39;
}

#drawer-content {
	-webkit-transform: translateX(-105%);
	background: #fff;
	height: 100%;
	left: 0;
	max-width: 90%;
	overflow: auto;
	position: fixed;
	top: 0;
	transform: translateX(-105%);
	transition: 0.5s ease-in-out;
	width: 250px;
	z-index: 40;
}

#drawer-content .drawer-title {
	font-size: 1em;
	font-weight: 700;
	padding: 0 34px;
	text-align: center;
}

#drawer.drawer-right #drawer-content {
	-webkit-transform: translateX(105%);
	left: auto;
	right: 0;
	text-align: left;
	transform: translateX(105%);
}

#drawer-check:checked ~ #drawer-open.drawer-open-fixed {
	-webkit-transform: translateX(250px);
	position: relative;
	transform: translateX(250px);
	z-index: 41;
}

#drawer-check:checked ~ #drawer-open.drawer-open-fixed span {
	background: rgba(255, 255, 255, 0);
}

#drawer-check:checked ~ #drawer-open.drawer-open-fixed span::before,
#drawer-check:checked ~ #drawer-open.drawer-open-fixed span::after {
	background: #fff;
	border-radius: 3px;
	content: "";
	display: block;
	height: 4px;
	left: 50%;
	margin: -2px 0 0 -14px;
	position: absolute;
	top: 50%;
	width: 28px;
}

#drawer-check:checked ~ #drawer-open.drawer-open-fixed span::before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#drawer-check:checked ~ #drawer-open.drawer-open-fixed span::after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#drawer.drawer-right #drawer-check:checked ~ #drawer-open.drawer-open-fixed {
	-webkit-transform: translateX(-250px);
	transform: translateX(-250px);
}

.drawer-close-icon {
	cursor: pointer;
	display: inline-block;
	height: 60px;
	position: relative;
	vertical-align: middle;
	width: 60px;
}

.drawer-close-icon span::before,
.drawer-close-icon span::after {
	background: #fff;
	border-radius: 3px;
	content: "";
	display: block;
	height: 4px;
	left: 50%;
	margin: -2px 0 0 -14px;
	position: absolute;
	top: 50%;
	width: 28px;
}

.drawer-close-icon span::before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.drawer-close-icon span::after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#drawer-check:checked ~ #drawer-close {
	display: block;
	opacity: 0.4;
}

#drawer-check:checked ~ #drawer-content {
	-webkit-transform: translateX(0);
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	transform: translateX(0);
}

.drawer-head {
	color: #efa336;
	font-size: 1.2em;
	font-weight: 700;
	line-height: 60px;
	text-align: center;
}

.drawer-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.drawer-item a {
	color: #333;
	display: block;
	padding: 1em;
	text-decoration: none;
}

#header .inner {
	display: flex;
	justify-content: space-between;
	padding-bottom: 0;
	padding-top: 0;
}

.hnav-item {
	display: inline-block;
}

.hnav-item > a {
	color: #333;
	display: block;
	text-decoration: none;
}

@media screen and (min-width: 820px) {

.inner {
	width: 820px;
}

#primary {
	margin-right: 2em;
	width: 768px;
}

#secondary {
	padding: 0;
	width: 336px;
}

.pc-only {
	display: block;
}

.pc-hidden {
	display: none;
}

}

@media screen and (max-width: 819px) {

.inner {
	padding-left: 24px;
	padding-right: 24px;
}

}

@media screen and (max-width: 767px) {

.inner {
	padding-left: 12px;
	padding-right: 12px;
}

.sp-only {
	display: block;
}

.sp-hidden {
	display: none;
}

#drawer {
	display: block;
}

}

