// コンテンツ幅
/*
 * <!-- example -->
 * <header>
 *	<div class="inner>
 *	</div>
 * </header>
 */
.inner {

	margin: 0 auto;

	@include mq("pc") {
		width: $layout-width-inner;
	}
}

#header,
#content,
#footer {
	width: 100%;
}

#primary {

	@include mq("pc") {
		width: $layout-width-main;
		margin-right: 2em;
	}
}

#secondary {
	padding: 0 12px;

	@include mq("pc") {
		width: $layout-width-side;
		padding: 0;
	}
}
