.row {
	display: flex;
	justify-content: space-between;
}

.row-c {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sp-only {
	display: none;

	@include mq('sp') {
		display: block;
	}
}

.sp-hidden {
	display: block;

	@include mq('sp') {
		display: hidden;
	}
}

.pc-only {
	display: none;

	@include mq('pc') {
		display: block;
	}
}

.pc-hidden {
	display: block;

	@include mq('pc') {
		display: hidden;
	}
}
