.inner {
	margin: 0 auto;
	padding: 0;
	max-width: 100%;
	width: $layout-width-inner;

	@include mq("tab") {
		padding-right: $pd-tab;
		padding-left: $pd-tab;
	}

	@include mq("sp") {
		padding-right: $pd-sp;
		padding-left: $pd-sp;
	}
}
