// 割り算
@function division($numerator, $denominator) {

	@return $numerator / $denominator;
}


// vw計算
@function vw($windows_width, $font_size) {

	@return $font_size / $windows_width * 100vw;
}

// letter-spacing計算
@function lsp($letter_spacing, $font_size) {

	@return $letter_spacing / $font_size * 1em;
}
