<!-- footer -->
<footer id="footer">
<div class="inner">

<p class="copy">&copy;</p><!-- /copy -->

</div><!-- /inner -->
</footer><!-- /footer -->


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="<%= path %>/js/script.js"></script>

</body>
</html>
