// ベース色
$color-main: #efa336;
$color-accent: #e65100;
$color-bg: #efefef;

// テキスト色
$color-text: #333;
$color-text-thin: #666;

// sns アイコンの色
$colors-sns: (
	twitter: #1b95e0,
	facebook: #3b5998,
	googleplus: #dc4e41,
);
