// レイアウト幅
$layout-width-inner : 1104px;
$layout-width-main  : 768px;
$layout-width-side  : 336px;

// ブレークポイント
$breakpoints: (
	"sp"  : "screen and (max-width: 425px)",
	"tab" : "screen and (min-width: 768px)",
	"pc"  : "screen and (min-width: 980px)",
);

// ヘッダー高さ（sp）
$header-height: 62px;

// z-index の指定
$layer: (
	modal    : 100,
	floating : 30,
	header   : 20,
	footer   : 10,
	default  : 1
);

$scale: 1.2;
