$layout-width-inner : 1104px;
$layout-width-main  : 768px;
$layout-width-side  : 336px;

$breakpoints: (
	"tab" : "screen and (min-width: 425px)",
	"pc"  : "screen and (min-width: 768px)",
);

$header-height: 62px;

$widget-side: 18px;

$layer: (
	modal    : 100,
	floating : 30,
	header   : 20,
	footer   : 10,
	default  : 1
);
