<% var title = 'タイトル'; %>
<% var description = 'ディスクリプション'; %>
<% var path = '.'; %>
<% include common/_header %>

<% include common/_mv %>

<!-- content -->
<div id="content">
<div class="inner">

	<!-- primary -->
	<main class="primary">
	</main><!-- primary -->

	<% include common/_sidebar %>

</div><!-- /inner -->
</div><!-- /content -->

<% include common/_footer %>
