// レイアウト幅
$layout-width-canvas: 1440px;
$layout-width-inner: 1060px;
$layout-width-vw: 1060;

// ブレークポイント
$breakpoints: (
	"sp": "(max-width: 767px)",
	"tab-only": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
	"tab": "(max-width: #{$layout-width-inner - 1px})",
	"pc": "(min-width: #{$layout-width-inner})",
	"ie": "(-ms-high-contrast: active), (-ms-high-contrast: none)"
);

// ヘッダー高さ
$header-height: 80px;
$header-height-sp: 60px;

// z-index の指定
$layer: (
	modal: 100,
	drawer: 40,
	floating: 30,
	header: 20,
	footer: 10,
	default: 1
);

// 余白
$pd-tab: 24px;
$pd-sp: 16px;
