// レイアウト幅
$layout-width-canvas: 1440px;
$layout-width-header-inner: 1286px;
$layout-width-inner: 820px;

// ブレークポイント
$breakpoints: (
	"sp": "screen and (max-width: 767px)",
	"tab-head": "screen and (max-width: #{$layout-width-header-inner - 1px})",
	"tab": "screen and (max-width: #{$layout-width-inner - 1px})",
	"pc": "screen and (min-width: #{$layout-width-inner})",
	"ie": "screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none)"
);

// ヘッダー高さ
$header-height: 80px;
$header-height-sp: 60px;

// z-index の指定
$layer: (
	modal: 100,
	drawer: 40,
	floating: 30,
	header: 20,
	footer: 10,
	default: 1
);

// ドロワーアイコン
$drawer-width: 250px;
$drawer-speed: 0.5s;
$drawer-icon-width: 60px;
$drawer-icon-height: 60px;
$bar-width: 28px;
$bar-height: 4px;
$bar-radius: 3px;
$bar-space: 4px;
$bar-bg: $cr-m;
$bar-color: #fff;

// 余白
$pd-tab: 24px;
$pd-sp: 16px;
