// コンテンツ幅

/*
 * <!-- example -->
 * <header>
 *	<div class="inner>
 *	</div>
 * </header>
 */
.inner {
	margin: 0 auto;
	padding: 80px 0;
	max-width: 100%;

	@include mq("pc") {
		width: $layout-width-inner;
	}

	@include mq("tab") {
		padding-right: 24px;
		padding-left: 24px;
	}

	@include mq("sp") {
		padding-right: 12px;
		padding-left: 12px;
	}
}

#header,
#content,
#footer {
	width: 100%;
}

#primary {

	@include mq("pc") {
		width: $layout-width-main;
		margin-right: 2em;
	}
}

#secondary {
	padding: 0 12px;

	@include mq("pc") {
		width: $layout-width-side;
		padding: 0;
	}
}

.row {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	flex-wrap: wrap;

	&.row-t-col {

		@include mq("tab") {
			flex-direction: column;
		}
	}

	&.row-s-col {

		@include mq("sp") {
			flex-direction: column;
		}
	}
}

.row-b {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	justify-content: space-between;

	&.row-t-col {

		@include mq("tab") {
			flex-direction: column;
		}
	}

	&.row-s-col {

		@include mq("sp") {
			flex-direction: column;
		}
	}
}

.row-c {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	align-items: center;

	&.row-t-col {

		@include mq("tab") {
			flex-direction: column;
		}
	}

	&.row-s-col {

		@include mq("sp") {
			flex-direction: column;
		}
	}
}

.row-bc {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;

	&.row-t-col {

		@include mq("tab") {
			flex-direction: column;
		}
	}

	&.row-s-col {

		@include mq("sp") {
			flex-direction: column;
		}
	}
}

.sp-only {
	display: none;

	@include mq("sp") {
		display: block;
	}
}

.sp-hidden {
	display: block;

	@include mq("sp") {
		display: none;
	}
}

.pc-only {
	display: none;

	@include mq("pc") {
		display: block;
	}
}

.pc-hidden {
	display: block;

	@include mq("pc") {
		display: none;
	}
}
