.inner {
	margin: 0 auto;
	padding: 80px 0;
	max-width: 100%;
	width: $layout-width-inner;

	@include mq("tab") {
		padding-right: 24px;
		padding-left: 24px;
	}

	@include mq("sp") {
		padding-right: 12px;
		padding-left: 12px;
	}
}

.sp-only {
	display: none;

	@include mq("sp") {
		display: block;
	}
}

.sp-hidden {
	display: block;

	@include mq("sp") {
		display: none;
	}
}

.pc-only {
	display: none;

	@include mq("pc") {
		display: block;
	}
}

.pc-hidden {
	display: block;

	@include mq("pc") {
		display: none;
	}
}
