/* btn component */

.btn {
	display: inline-block;
	padding: 0.6em 2em;
	margin: 0 0 1em;
	background-image: none;
	background-color: #4caf50;
	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 0;
	font-size: 16px;
	cursor: pointer;
	-webkit-appearance: none;
	box-shadow: 0.0625em 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.2);

	&::-moz-foucus-inner {
		padding: 0;
		border: none;
	}

	&:hover,
	&:focus {
		outline: none;
	}
}
